/* body {
    background-color: linear-gradient(red, yellow);
} */

.jumbotron {
    margin-top: 4rem;
}

.Header1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.btn {
    background-color: rgb(165, 37, 14);
    border-radius: .9em;
}

#time {
    font-weight: bold;
    font-size: medium;
}

#scoreboard {
    font-weight: bold;
    font-size: medium;
}