/* body {
    background-color: linear-gradient(red, yellow);
} */
body {
    background-image: linear-gradient(-90deg, rgb(74, 252, 163), rgb(157, 74, 252));
    /* background-image: url(mario.bg.theme2.png) */
}

.jumbotron {
    margin-top: 4rem;
}

.Header1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.btn {
    background-color: rgb(81, 248, 137);
    border-radius: .9em;
}

#time {
    font-weight: bold;
    font-size: medium;
}

#scoreboard {
    font-weight: bold;
    font-size: medium;
}